html, body {
  background-color: #ffeead;
  margin: 0;
  height: 100%;
}

#index {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-rows: 50px 50px;*/
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
    ". h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f .";
}

.wrapper > div {
  font-size: 2rem;
  color: #ffeead;
  text-align: center;
}

.wrapper {
  /*background-color: #b54fce;*/
}

.header {
  grid-area: h;
  /*grid-column: 1 / -1;*/
  background-color: #ffcc5c;
}

.content {
  grid-area: c;
  /*grid-column: 2 / -1;*/
  background-color: #ff6d68;
}

.menu {
  grid-area: m;
  background-color: aquamarine;
}

/*if you don't know the number of columns*/
.footer {
  grid-area: f;
  /*grid-column: 1 / -1;*/
  background-color: cadetblue;
}
