html, body {
  background-color: #ffeead;
  margin: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
}

.wrapper > div {
  font-size: 3rem;
  color: #ffeead;
  text-align: center;
}

.wrapper {
  background-color: #96ceb4;
}

.wrapper > div:nth-child(2n) {
  background-color: #ffcc5c;
}

.wrapper > div:nth-child(4n) {
  background-color: #ff6d68;
}

